<a href="https://colab.research.google.com/github/AkuOO4/python-lab/blob/main/lab2/2_LabCycle2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2. Write a program to read a string containing numbers separated by a 
space and convert it as a list of integers. Perform the following 
operations on it.
 1. Rotate elements in a list by 'k' position to the right
 2. Convert the list into a tuple using list comprehension
 3. Remove all duplicates from the tuple and convert them 
into a list again.
 4. Create another list by putting the results of the evaluation 
of the function ùëì(ùë•) = (ùë•^2 ‚Äì ùë•) with each element in the 
final list
 5. After sorting them individually, merge the two lists to 
create a single sorted list.

In [ ]:
str1="11 12 11 3 4 5 6 7 8 9 10"
len1=len(str1)
lst=[]
i=0
while i<len1:
  num=0
  while str1[i]!=" ":     #for getting 2&more digit numbers
    num=num*10+int(str1[i])
    i+=1
    if i==len1:
      break
  i+=1
  lst.append(num)
print(lst)

[11, 12, 11, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Rotating k postions
k=int(input("enter the number postion you want to shift: "))
while k>0:
  lst.insert(0,lst[-1])
  lst.pop()
  k-=1
print(lst)

enter the number postion you want to shift: 3
[8, 9, 10, 11, 12, 11, 3, 4, 5, 6, 7]

In [ ]:
# Tuple Conversion
tup=tuple(lst)
print(tup)
print(type(tup))

(8, 9, 10, 11, 12, 11, 3, 4, 5, 6, 7)
<class 'tuple'>

In [ ]:
# Removing duplications
unify=set(tup)
lst=list(unify)
print(lst)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
# Points of f(x)=x^2-x
n=int(input("input enter the element to p"))
y=[]
for x in range(n+1):
  y.append(x**2-x)

input enter the element to p5

In [ ]:
# Sorting and Merging
lst.sort()
y.sort()
new_list=lst+y
new_list.sort()
print(new_list)

[0, 0, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 11, 12, 12, 20]